body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

.main-title {
  font-size: 2.5rem;
}

.intro {
  text-align: justify;
}

.tools {
  margin-top: 40px;
  text-align: center;
}

.tool-list {
  list-style-type: none;
  padding: 0;
}

.tool-list li {
  display: inline-block;
  margin: 20px;
}

.btn {
  display: block;
  background-color: #536DFE;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #33c7ff;
}

img {
display: block;
max-width: 100%;
height: auto;
margin-bottom: 10px;
border-radius: 5px;
}

h2 {
font-size: 2rem;
margin-bottom: 20px;
}

.footer {
margin-top: 40px;
text-align: center;
}