body {
  background-color: #111;
}
html, body {
  overflow: hidden;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  animation: fade-in 1s;
  animation: slide-up 1s;
}

.input-container {
  position: relative;
  z-index: 6;
}

.input-container input {
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #eee;
  font-size: 16px;
  position: relative;
  top: 150px;
  z-index: 6;
}

.input-container input:focus::placeholder {
  color: transparent;
  z-index: 6;
}

.input-container input:focus {
  outline: none;
  z-index: 6;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  font-size: 16px;
  z-index: 6;
}

.clock {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  display: flex;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: -10px;
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 25%;
  background: linear-gradient(to right, lightsalmon, teal);
  animation: rotate 20s infinite;
  opacity: 0.8;
}
#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(12vmax);
}
.container:active {
  cursor: grabbing;
}

.container[draggable="true"] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.container[draggable="true"]:hover {
  border: 2px solid #000;
}

.central-node {
  width: 175px;
  height: 175px;
  background-color: slategray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.surrounding-node {
  width: 170px;
  height: 100px;
  border-radius: 30px;
  border: 4px solid #02182B;
  background-color: #02182B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.node-1 {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-2 {
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-3 {
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


.node-4 {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-5 {
  top: 70%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-6 {
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.selected-node {
  background-color: red;
}

.line {
  position: absolute;
  background-color: #fff;
  width: 2px;
  top: 50%;
  left: 50%;
  transform-origin: top center;
}

.line:nth-child(1) {
  transform: rotate(0deg);
  height: 30%;
}

.line:nth-child(2) {
  transform: rotate(70deg);
  height: 70%;
}

.line:nth-child(3) {
  transform: rotate(110deg);
  height: 70%;
}

.line:nth-child(4) {
  transform: rotate(180deg);
  height: 30%;
}

.line:nth-child(5) {
  transform: rotate(250deg);
  height: 70%;
}

.line:nth-child(6) {
  transform: rotate(290deg);
  height: 70%;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slide-up {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.surrounding-nodeexpand {
  width: 170px;
  height: 100px;
  border-radius: 30px;
  border: 4px solid #02182B;
  background-color: #02182B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.node-7 {
  top: -10%;
  left: 50%;
  width: 600px;
  height: 250px;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-8 {
  width: 600px;
  height: 250px;
  top: 30%;
  left: 113%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-9 {
  width: 600px;
  height: 250px;
  top: 70%;
  left: 113%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


.node-10 {
  top:  110%;
  left: 50%;
  width: 600px;
  height: 250px;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-11 {
  width: 600px;
  height: 250px;
  top: 70%;
  left: -13%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.node-12 {
  width: 600px;
  height: 250px;
  top: 30%;
  left: -13%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
